.main{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}


@media screen and (max-width:600px){
    .main{
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 20px;
        display: grid;
        grid-template-columns: 4fr 1fr;
    }
    .product{
        grid-template-columns: repeat(2,1fr);
    }
}