.product{
    width: 300px;
    height: 500px;
    position: relative;
}

.product img{
    width: 286px;
    height: 286px;
    border-radius: 20px;
}

.product-name{
    margin-top: 10px;
}

.sub-product{
    border: 1px solid rgb(209, 208, 208);
    border-radius: 20px;
}

.cart-btn{
    width: 96%;
    border: none;
    border-radius: 0px 0px 20px 20px;
    position:absolute;
    bottom: 0;
    left: 0;
    background: rgb(243, 221, 147);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.cart-btn .cart-text{
    margin-right: 10px;
    margin-top: 10px;
}

.cart-btn:hover{
    background: rgb(238, 200, 77);
}